h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: blue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 120%;
    border: 1px solid gray;
    padding: 10px;
}
#element1{
    color: blue;
}